{
  "presets": [["es2015", { "modules": false }], "stage-0", "stage-3", "react"],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-async-functions",
    "transform-regenerator",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        "transform-react-constant-elements"
      ]
    }
  }
}
